body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.hh1{
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color: rgb(58, 52, 52);
}

/* Section stat*/

.sec-box{
border-left: 4px solid red;
line-height: 40px;
border-radius: 4px;






 
}
.sec-text{
    padding-left: 14px;

    font-size: 60px;
}

.flex{
    display: flex;
}

.half-width{
    width: 40%;
    padding-left: 120px;
    padding-top: 90px;  
}

.half-width img{
    width: 70%;  
}



/* section 1 end*/




/*section 2 start*/
.half-width2{
    width: 40%;
    margin: 20px;
    border-radius: 20px;
    
}

.half-width2 img{
    width: 50%;
    
}


.mission1{  
    background-color: rgb(33, 110, 226);
    padding: 20px;
}

.mission2{  
    background-color: rgb(243, 181, 170);
    padding: 20px;
    
}

.mission3{  
    background-color: rgb(105, 230, 111);
    padding: 20px;
}


.section2{
    padding: 100px;
    
}

.sec-text2{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 50px;
}

/*section 2 end*/


/* section 3,4 start */

.section3{
    padding-left: 130px;
}

.half-width3{
width: 40%;
}

.half-width3 img{
 width: 80%;
}


.section4{
    padding-left: 130px;
    
    
}



/* section 3,4 end */


/* button*/

.bt{

    text-decoration: none;
    padding: 10px 40px;
    color: whitesmoke;
    border-radius: 20px;

    background-image: linear-gradient(red,tomato);

}


/* footer section */

.section-fo{
    background-color: rgb(36, 32, 32);
    padding:50px 50px;

    
}



